<center>
  <h1>Espaço do Administrador</h1>

  <div class="botão">
    <%= link_to 'Cadastrar Aluno', new_aluno_path %>
  </div>

  <div class="botão">
    <%= link_to 'Ver alunos', alunos_show_path %>
  </div>
  <div class="botão">
    <%= link_to 'Alunos matriculados', matriculas_path %>
  </div>
  <div class="botão">
    <%= link_to 'Fazer matricula', new_matricula_path %>
  </div>
  
</center>